* {
    margin: 0px;
    padding: 0px;
    font-family: 'Glory', sans-serif;
}

/*.Body.*/
body{
    background-color: cadetblue;
    text-align: center;
} 

/*.header.*/
header {
    text-align: center;
}
nav {
    background-color: rgb(168, 69, 33);
    height: 50px;
}
div{
    height: 5px;
    margin: 5px;
    padding: 5px;
}
.boton{
    width: 100px;
    height: 30px;
    background-color: ivory;
    padding: 5px;
    text-align: center;
}
.fondo{
    background-color: rgb(168, 69, 33);
    height: 100px;
}

.color{
    color: rgb(168, 69, 33);
}
.bordesredondeados{
    border-radius: 10px;
}


/*.Pie.*/
footer {
    text-align: right;
}


/*.Servicios.*/
table {
    margin: auto;
}



/*.Estilos FlexBox.*/
.menu-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

/*.Contactanos.*/
form {
    margin: auto;
    padding-left: 400px;
    padding-right: 400px;
    text-align: left;
}


/*.NuestrosClientes.*/
.grilla {
    display: grid;
    grid-template-areas: 
    "franklin guiri"
    "sur emilia"
    "pie pie";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 50px;
    
}
.franklin {
    grid-area: franklin;
}
.guiri {
    grid-area: guiri;
}
.sur {
    grid-area: sur;
}
.emilia {
    grid-area: emilia;
}
.pie {
    grid-area: pie;
}